<div
  class="bg-gray-200 w-[80rem] h-[30rem] text-blue-800 flex items-center justify-center m-auto  p-4"
>
  <div  class="relative flex items-center -top-52 w-full gap-x-[19rem] ml-[26rem]">
    <h1 class="text-center font-extrabold text-3xl " >
      {{'outerCardHeader'|translate}}
    </h1>
    <!-- <button class="cursor-pointer underline hover:scale-110 transform duration-300"  (click)="onChangeLanguage()">{{'changeLanguageButton'|translate}} </button> -->
  </div>
  <div
    class="absolute bg-gray-100 w-[20rem] h-[15rem] text-blue-600 flex items-center justify-center"
  >
    <div class="absolute ">
      <h3
        class="relative -top-10 text-center font-extrabold text-xl w-full m-auto"
        
      >
        {{'innerBoxHeader'|translate}}
      </h3>
      <p class="relative">{{'innerBoxDescription'|translate}} </p>
      <p >{{'innerBoxDate'|translate}}</p>
      <p >{{'innerBoxAmount'|translate}} </p>
    </div>
  </div>
</div>